header {
  background-color: black;
  border-bottom: 3px solid white;
  height: 150px;
  object-fit: cover;
}

.header-bloc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-bloc > :first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  height: 90px;
  margin-top: 4px;
}

.header-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
